{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>Students</title>
<div class="container">
  <table class="table table-hover table-responsive-sm">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">USN</th>
        <th scope="col">Student</th>
        <th scope="col">Address</th>
        <th scope="col">Phone no</th>
        <th scope="col">Gender</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
  {% for object in object_list %}
    <tr class=" text-center">
        <td>{{ object.usn }}</td>
        <td>{{ object.name }}</td>
        <td>{{ object.address }}</td>
        <td>{{ object.phno }}</td>
        <td>{{ object.gender }}</td>
        <td>
        <a href="{{ object.id }}/update" class="btn btn-info btn-xs"> Edit </a>
        <a href="{{ object.id }}/delete" class="btn btn-danger btn-xs"> Delete </a>
        </td>
    </tr>
      {% empty %} 
      <h2 class="p-3 m-3 text-center">No Students Added yet.
      <a href="{% url 'management:addstudent' %}" class="btn btn-primary">Add Student</a>
    </h2>
      {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock content %}